<!DOCTYPE html>
<html lang="en">
<head>

    <!-- meta tage -->
    {{>meta}}

</head>
<body>
    <!-- page loader scrollbar and toTop btn -->
    {{>loader}}

    <!-- header section -->
    {{>header}}
    
    <!-- Hero Section -->
    <div class="hero">
        <div class="hero-img-div">
            <img class="hero-img" src="/img/hero.jpg" />
        </div>
        <div class="hero-txt">
            <p class="small-txt">
                Hey, my name is
            </p>
            <p class="aman" >
                Aman Shah
            </p>
            <small>And I'm a <span class="type"></span></small>
        </div>
    </div>

    <!-- social icons -->
    <div class="social-icons">
        <li><a href="#"><i class="icons fab fa-facebook"></i></a></li>
        <li><a href="#"><i class="icons fab fa-facebook-messenger"></i></a></li>
        <li><a href="#"><i class="icons fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="icons fab fa-github"></i></a></li>
    </div>
    <!-- lets chat btn -->
    <a href="#" class="lets-chat-btn">Let`s Chat <i class="fas fa-arrow-right"></i></a>

    <!-- About Me Section -->
    <div class="about_me" data-scroll >
        <p class="about_me_p" >
            About Me
        </p>
        <p class="about_me_small">
            who I am
        </p>
        <p class="about_me_text">
            Hey I’m Aman, a multidisciplinary web developer who focuses on telling my stories visually, through enjoyable and meaningful way. I specifically focuses in responsive websites and user interfaces.
        </p>
    </div>

    <!-- projects sections -->
    <div class="projects" data-scroll >
        <h1 class="stroke-text">PROJECTS</h1>
        <div class="project-img">
            <h3 class="stroke-text-small"># 01</h3>
            <img src="/img/mannu.jpg" alt="mannu website" />
            <h3 class="stroke-text-small">Mannu Arts</h3>
        </div>  
        <div class="project-img">
            <h3 class="stroke-text-small"># 02</h3>
            <img src="/img/weather.jpg" alt="weather forcast" />
            <h3 class="stroke-text-small">Weather Forcast</h3>
        </div>
    </div>

    <!-- javascript files and codes -->
    {{>javascript}}
  
    <!-- scripts -->
    {{>script}}

</body>
</html>