<!doctype html>
<html lang="en">
  <head>

    <!-- META tags -->
    {{>meta}}

  </head>
  <body>
    
    <!-- page header -->
    {{>header}}

    <!-- local javascript file -->
    {{>javascript}}
    
  </body>
</html>