<!DOCTYPE html>
<html lang="en">
<head>

    <!-- meta tage -->
    {{>meta}}

</head>
<body>

    <!-- starting animation -->
    <div class="intro">
        <div class="intro-text">
            <h1 class="hide">
                <span class="text">Creating Inovation</span>
            </h1>
            <h1 class="hide">
                <span class="text">For Everyday</span>
            </h1>
            <h1 class="hide">
                <span class="text">Peoples.</span>
            </h1>
        </div>
    </div>
    <div class="slider"></div>


    <!-- header section -->
    {{>header}}

    <!-- Hero Section -->
    <div class="hero">
        <div class="hero-img-div">
            <img class="hero-img" src="/img/hero.jpg" />
        </div>
        <div class="hero-txt">
            <p class="small-txt">
                Hey, my name is
            </p>
            <p class="aman" >
                Aman Shah
            </p>
            <small>And I'm a <span class="type"></span></small>
        </div>
    </div>

    <!-- social icons -->
    <div class="social-icons">
        <li><a href="#"><i class="icons fab fa-facebook"></i></a></li>
        <li><a href="#"><i class="icons fab fa-facebook-messenger"></i></a></li>
        <li><a href="#"><i class="icons fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="icons fab fa-github"></i></a></li>
    </div>
    <!-- lets chat btn -->
    <a href="#" class="lets-chat-btn">Let`s Chat <i class="fas fa-arrow-right"></i></a>

    <!-- About Me Section -->
    <div class="about_me" data-scroll >
        <p class="about_me_p" >
            About Me
        </p>
        <p class="about_me_small">
            who I am
        </p>
        <p class="about_me_text">
            Hey I’m Aman, a multidisciplinary developer who focuses on telling my stories visually, through enjoyable and meaningful way. I specifically focuses in responsive websites and user interfaces.
        </p>
    </div>

    <!-- projects sections -->
    <div class="projects">

    </div>

    <!-- javascript files and codes -->
    {{>javascript}}
    <script>
        // ScrollOut //
        ScrollOut();
    
        // gsap animations //
        const tl = gsap.timeline({
            defaults: {
                ease: "power1.out"
            }
        });

        tl.to(".text", {
            y: "0%", duration: 1, stagger: 0.25, delay: 0.2
        });
        tl.to(".slider", {
            y: "-100%", duration: 1.5, delay: 0.5
        });
        tl.to(".intro", {
            y: "-100%", duration: 1
        }, "-=1");
        tl.fromTo("nav", {
            opacity: 0
        }, {
            opacity: 1, duration: 1
        });
        tl.fromTo(".big-text", {
            opacity: 0
        }, {
            opacity: 1, duration: 1
        }, "-=1");
        
        gsap.from('.aman' , {opacity: 0, duration: 1, y: 20, delay: 3.5, ease: 'elastic(1 , 0.3)'});

    </script>

</body>
</html>