<!DOCTYPE html>
<html lang="en">
<head>

    <!-- meta tage -->
    {{>meta}}

</head>
<body>
    
    <!-- header section -->
    {{>header}}
    
    <section class="section"></section>

    <!-- javascript files -->
    {{>javascript}}
</body>
</html>