<!DOCTYPE html>
<html lang="en">
<head>

    <!-- meta tage -->
    {{>meta}}

</head>
<body>

    <!-- header section -->
    {{>header}}

    <!-- Hero Section -->
    <div class="hero">
        <div class="hero-img-div">
            <img class="hero-img" src="/img/hero.jpg" />
        </div>
        <div class="hero-txt">
            <p class="small-txt">Hey, my name is</p>
            <p>Aman Shah</p>
            <small>And I'm a <span class="type"></span></small>
            <!-- social icons -->
            <div class="social-icons">
                <i class="icons fab fa-facebook"></i>
                <i class="icons fab fa-facebook-messenger"></i>
                <i class="icons fab fa-instagram"></i>
                <i class="icons fab fa-github"></i>
            </div>
        </div>
    </div>

    <!-- javascript files -->
    {{>javascript}}
    
    <section class="section"></section>
</body>
</html>