<!doctype html>
<html lang="en">
  <head>

    <!-- META tags -->
    {{>meta}}

  </head>
  <body>
    <h1>Hello, world!</h1>

    <!-- local javascript file -->
    {{>javascript}}
    
  </body>
</html>