<!-- header section -->
<nav class="main_navbar" id="main_navbar">
    <div class="logo">
        DevAman
    </div>
    <!-- hamburger -->
    <div class="menu" id="menu">
        <span class="bars"></span>
        <span class="bars"></span>
        <span class="bars"></span>
    </div>
    <!-- navlinks -->
    <div class="nav_links">
        <ul id="nav_links_ul">
            <li><a href="#">contact</a></li>
            <li><a href="#">contact</a></li>
            <li><a href="#">contact</a></li>
            <li><a href="#">contact</a></li>
        </ul>
    </div>
</nav>


<section class="demo_section first">
    section
</section>
<section class="demo_section">
    section
</section>
<section class="demo_section">
    section
</section>