<nav id="main_nav">
    <!-- logo section -->
    <div class="logo">DevAman</div>
    
    <!-- hamburger menu -->
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    
    <!-- navlinks -->
    <ul class="nav-links">
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Projects</a></li>
    </ul>
</nav>