<!-- starting animation -->
<div class="intro">
    <div class="intro-text">
        <h1 class="hide">
            <span class="text">Creating Inovation</span>
        </h1>
        <h1 class="hide">
            <span class="text">For Everyday</span>
        </h1>
        <h1 class="hide">
            <span class="text">Peoples.</span>
        </h1>
    </div>
</div>
<div class="slider"></div>

<!-- scroll bar animation -->
<div class="progress-bar"></div>

<!-- Scroll To Top -->
<a href="#" class="to-top"> <i class="fas fa-arrow-up"></i> </a>