/* star universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* root selector */
:root {
    --main-background: #121212;
}

/* html and body tag */
html {
    font-size: 62.5%
}
body {
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--main-background);
}

/* header section */
#main_nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav {
    height: 7.5rem;
    background: transparent;
}

.logo {
    color: white;
    margin: 1.7rem 1rem;
    font-size: 2.5rem;
    font-weight: bold;
    transition: 0.5s ease-in;
    letter-spacing: 0.2rem;
    text-shadow: 0.2rem 0.2rem 0.4rem #ccc;
}

.nav-links {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    list-style: none;
    width: 50%;
    height: 6.5rem;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links-child:after {
    content: '';
    display: block;
    width: 0;
    height: 0.2rem;
    background: white;
    transition: width 0.3s;
}

.nav-links-child:hover::after {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .line {
        width: 3.2rem;
        height: 0.4rem;
        background: white;
        margin: 0.5rem;
        border-radius: 1rem;
        transition: all 0.5s ease;
    }
    .line:nth-child(2) {
        width: 2.5rem;
        margin-left: auto;
    }

    nav {
        position: relative;
    }

    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 45%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }
    
    /* hamburger animations */
    .open-menu .line:nth-child(1) {
        transform: rotate(45deg) translate(0 , 1.5rem);
    }
    
    .open-menu .line:nth-child(2) {
        transform: translate(-5rem);
        background: transparent;
        box-shadow: none;
    }
    
    .open-menu .line:nth-child(3) {
        transform: rotate(-45deg) translate(0 , -1.5rem);
    }

    .nav-links {
        position: fixed;
        background: black;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 95% -30%);
        -webkit-clip-path: circle(100px at 95% -30%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open {
        clip-path: circle(1000px at 95% -30%);
        -webkit-clip-path: circle(1000px at 95% -30%);
        pointer-events: all;
    }
    .landing {
        flex-direction: column;
    }
    .nav-links li {
        opacity: 0;
    }
    .nav-links li a {
        font-size: 25px;
    }
    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }
    li.fade {
        opacity: 1;
    }
}

/* ----------------------------------- */

.section {
    width: 100vw;
    height: 200vh;
    background: var(--main-backgrounds);
}

/* hero section */
.hero {
    z-index: -1;
}

.hero-img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.hero-txt {
    margin-left: 1rem;
}

.hero p {
    font-size: 4rem;
    font-weight: bold;
    color: white;
}

.hero small {
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

.hero .type {
    color: red;
}